body{
    user-select: none;
}

.loader-background {
    width: 100%;
    height: 100vh;
    background: none;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0%;
}

.back {
    width: 150%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: -28%;
    z-index: -1;
}

.shadow {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 150%;
    height: 100vh;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}

.main {
    z-index: 10;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 20%;
}

.title {
    font-family: "Nunito Sans";
    color: white;
    /* Ichki matn rangi */
    font-size: 60px;
    font-style: italic;
    font-weight: 900;
    text-shadow: 0px 0px 5px black;
    -webkit-text-stroke: 2px black;
    /* Matnga chegara (border) */
    z-index: 999;
}

.title::after {
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 183, 255, 1) 30%, rgba(0, 255, 255, 1) 50%, rgba(0, 183, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
    animation: starTrail 2s ease-out forwards;
}

/* Animatsiya */
@keyframes starTrail {
    0% {
        width: 0;
        /* Boshlanishida kenglik 0 bo'ladi */
    }

    100% {
        width: 400px;
        /* Oxirida kenglik 400px bo'ladi */
    }
}

.title span {
    color: #fff61a;
}


/* loader */
.loader {
    border: 16px solid #f3f3f3;
    /* Tashqi och rangli halqa */
    border-top: 3px solid rgb(130, 130, 235);
    /* Yuqoridan ko'k rangli halqa */
    border-left: 3px solid rgb(130, 130, 235);
    /* box-shadow: 0px 0px 5px white; */
    position: absolute;
    bottom: 15%;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 50%;
    /* Doira shakli */
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    /* Aylanish animatsiyasi */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.desc {
    font-family: "Orbitron";
    font-size: 30px;
    color: white;
    text-shadow: 0px 0px 5px black;
    padding-top: 40px;
    z-index: 99999;
}

.footer-text {
    font-size: 30px;
    color: white;
    font-family: "Orbitron";
    z-index: 9999;
    position: absolute;
    top: 40%;
    letter-spacing: 0.9px;
    font-style: italic;
    background: linear-gradient(to top, black, red);
    -webkit-background-clip: text;
    /* Faqat matnni gradient qiladi */
    -webkit-text-fill-color: transparent;
    /* Matnni shaffof qiladi */
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 9999;
    column-gap: 20px;
    position: absolute;
    bottom: 2%;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    /* z-index: 9999; */
    transition: .5s;
}

.icon img{
    /* z-index: 99999; */
     width: 30px;
    height: 30px;
}

.icon:active{
    box-shadow: 0px 0px 15px white;
}